
  

 
 <div class="form_bg" style="margin-top: 50px;margin-left: 20px">
 <div class="card" style="width: 600px; margin: auto;">  
        <div class="card-header bg-primary text-white"> 
      
    <h3>Log In</h3>
      </div>
  
    <form>
      <div class="form-group" style="margin-left: 20px;margin-top: 10px">
        <label class="control-label" for="userName">User Name: </label>
        <input type="text" name="luserName" style="margin-left: 13px" id="luserName"  />
      </div>
      <div class="form-group"  style="margin-left: 20px;margin-top: 10px">
        <label class="control-label" for="pssword">Password : </label>
        <input type="text" style="margin-left: 20px"name="lpassword" id="lpassword" />
      </div>
      <div class="form-row">
        <button class="btn btn-primary pull-right" style="margin-left: 225px;margin-bottom: 20px">Sign In</button>
      </div>
    </form>

  </div>
  