<div class="container">
  
    <div class="row">
        <form novalidate (submit)="submit()">
  <div class="form_bg">      
    <div class="col-6 col-md-offset-6">
      <div class="card" style="width: 600px; margin: auto;">  
        <div class="card-header bg-primary text-white">  
        <h4 class="text-uppercase text-center">Registration</h4>  
        </div>  
      <div class="card-body">  
        <div class="row">  
          <div class="col-sm-6 col-md-6 col-xs-12"> 
              
            <div class="form-group">  
              <label>Full Name:</label>  
              <div class="input-group">  
                <div class="input-group-prepend">  
                  <span class="input-group-text">  
                    <i class="fa fa-user"></i>  
                  </span>  
                </div>  
                <input id="fullName" name="fullName" [(ngModel)]="model.fullName" 
                required #fullName="ngModel"
                type="text" class="form-control"/>
                <br>
              </div>  

                <div class="alert alert-danger" [hidden]="fullName.valid||fullName.pristine">

                    <span *ngIf="fullName.hasError('required')">*name is required</span>
        
                  </div>
            </div>  
            
          </div>  
          <div class="col-sm-6 col-md-6 col-xs-12">  
            <div class="form-group">  
              <label>User Name:</label>  
              <div class="input-group">  
                <div class="input-group-prepend">  
                  <span class="input-group-text">  
                    <i class="fa fa-user"></i>  
                  </span>  
                </div>  
                <input id="userName" type="text" class="form-control" name="userName"
                required minlength="4" [(ngModel)]="model.userName" #userName= "ngModel"/>
                
                <br>
                
              </div>
              <div class="alert alert-danger" [hidden]="userName.valid||userName.pristine">

                  <span *ngIf="userName.hasError('required')">*Username is required</span>
                  <span *ngIf="userName.hasError('minlength')">*Mininum 4 characters</span>
                </div>    
            </div>  
          </div>  
        </div>  
        <div class="row">  
            <div class="col-sm-6 col-md-6 col-xs-12">  
              <div class="form-group">  
                <label>Phone Number:</label>  
                <div class="input-group">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text">  
                      <i class="fa fa-phone"></i>  
                    </span>  
                  </div>  
                  <input id="phone" name="phone" type="text" class="form-control" [(ngModel)]="model.phone"
                   required minlength="10"  maxlength="10" #phone="ngModel" />  
                </div>  
                
                <div class="alert alert-danger" [hidden]="phone.valid||phone.pristine">

                    <span *ngIf="phone.hasError('required')">*Phone is required</span>
                    <span *ngIf="phone.hasError('minlength')">*Mininum 10 number</span>
                    <span *ngIf="phone.hasError('maxlength')">*Maximum 10 number</span>

                  </div> 
                
              </div>  
            </div>  
            <div class="col-sm-6 col-md-6 col-xs-12">  
              <div class="form-group">  
                <label>Email:</label>  
                <div class="input-group">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text">  
                      <i class="fa fa-envelope"></i>  
                    </span>  
                  </div>  
                  <input type="text" id="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  ngModel #emailref="ngModel">
                  
                  
                   
                </div> 
                
                <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="alert alert-danger">
                    <div [hidden]="!emailref.errors?.pattern">
                      Invalid email
                    </div> 
                   </div>  
              </div>  
            </div>  
          </div>  
          <div class="row">  
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Password:</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend">  
                      <span class="input-group-text">  
                        <i class="fa fa-lock"></i>  
                      </span>  
                    </div>  
                    <input id="password1" name="password1"  type="password" class="form-control"
                     required minlength="8" [(ngModel)]="model.password" #password1="ngModel" />  
                  </div>  
                  <div class="alert alert-danger" [hidden]="password1.valid||password1.pristine">

                      <span *ngIf="password1.hasError('required')">*Password is required</span>
                      <span *ngIf="password1.hasError('minlength')">*Mininum 8 characters</span>
  
                    </div> 
                </div>  
              </div>  
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Confirm Password:</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend">  
                      <span class="input-group-text">  
                        <i class="fa fa-lock"></i>  
                      </span>  
                    </div>  
                    <input id="password" name="password"  type="password" class="form-control"
                     [(ngModel)]="model.password" #password="ngModel" />  
                  </div>  
                </div>  
              </div>  
            </div>  
            <button type="submit" class="btn btn-outline-primary rounded-0 float-right" style="margin-left:10px;">Register</button>  
            <button type="reset" class="btn btn-outline-primary rounded-0 float-right">Reset</button>
      </div>  
    </div>  
  </div>

  </div>
</form>

  
  <div class="col-md-6"></div>
  <div class="col-6 col-md-offset-1">
      <app-login></app-login>
  </div>
  
 
  </div>
  </div>