<head>
    <style>
        body {
            background-image: url("assets\images\avatars\Action-movies-2017-1-1024x717.jpg");
        }
        </style>
</head>
<body
    background=assets\images\avatars\Action-movies-2017-1-1024x717.jpg>
<section class="webdesigntuts-workshop">
    <form action="" method="">          
        <input type="search" placeholder="Go To Movies.">               
        <button class=" btn btn-lg btn-primary pull-right btn-lg" [routerLink]="['/result']">Search</button>
    </form>
</section>
</body>